<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @user.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @user.prenom %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Contry:</strong>
  <%= @user.contry %>
</p>

<p>
  <strong>Addresse:</strong>
  <%= @user.addresse %>
</p>

<p>
  <strong>Sexe:</strong>
  <%= @user.sexe %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
